<div class="jumbotron">
  <div class="container">
    <h1>The JJAL</h1>
    <p>개발자를 위한 고품질 이미지 솔루션.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">시작하기!</a></p>
  </div>
</div>

<blockquote>
  <p>Development 업무에서 명확한 이미지를 찾는 일은 긴 시간과 많은 비용을 요구한다.</p>
  <footer>CTO in <cite title="Source Title">ACouner</cite></footer>
</blockquote>


<blockquote class="blockquote-reverse">
  <p>적절한 이미지를 고르기 위해 모니터 앞에서 항상 고민한다.</p>
  <footer>웹 개발자 in <cite title="Source Title">Source Title</cite></footer>
</blockquote>

<blockquote>
  <p>이미지가 없는 웹은 처다보기도 싫다.</p>
  <footer>서버 개발자 in <cite title="Source Title">Source Title</cite></footer>
</blockquote>