
<div class="thumbnail card">
  <div class="card-header">
    <a href="<%= post_url %>"><span class="label label-primary"><%= blog_name %></span></a>
  </div>
  <div class="card-image">
    <img src="<%= displayImage.url %>" alt="..." class="img-responsive">
  </div>
  <div class="card-caption">
    <h4>
      반응: <%= note_count %>
      <a class="pull-right" data-toggle="collapse" href="<%= '#' + id %>" aria-expanded="false" aria-controls="<%= id %>">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
      </a>
    </h4>
    <div class="collapse" id="<%= id %>">
      <div class="well">
        <form class="form-horizontal">
          <% _.each(photos[0].alt_sizes, function(photo) { %>
          <div class="form-group">
            <label for="" class="col-sm-4 control-label"><%= photo.width %> x <%= photo.height %></label>
            <div class="col-sm-8">
              <input type="text" class="form-control photo_url" id="" value="<%= photo.url %>">
            </div>
          </div>
          <% }) %>
        </form>
      </div>
    </div>
  </div>
</div>
